{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-5 shadow py-3 my-2 border rounded">
            <h1>Password Change</h1>
            <div class="line"></div>
            <p>Please enter your old password, 
            for security's sake and then enter your new password 
            twice so that we can verify you typed it correctly.</p>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Change my Password">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
