{% load i18n %}{% autoescape off %}
{% trans "Hi" %} {{ user.get_full_name }},

{% blocktrans %}
We've received a request to reset your password. If you didn't make
this request, you can safely ignore this email. Otherwise, click the link
below to reset your password.
{% endblocktrans%}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}


{% blocktrans %}
DISCLAIMER: All the information contained in this email message is strictly 
confidential and may be legally privileged. Such information is intended 
exclusively for the use of the designated recipient(s). 
Any disclosure, copying or distribution of all or part of the information 
contained herein or other use of or the taking of any action in reliance 
upon this information by third parties is prohibited and may be unlawful. 
If you have received this email message in error, 
please delete it immediately and notify the university through email on info@piu.ac.ke
{% endblocktrans %}

{% endautoescape %}
