{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-9 col-lg-6 py-3 my-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Details</h5>
        <p class="card-text">
        <div><b>Enrolled Course:</b> {{ object.enrolled_course.course.title }}</div>
        <div><b>Year:</b> {{ object.year }}</div>
        <div><b>Semester:</b> {{ object.semester }}</div>
        </p>
        <a class="btn btn-primary" href="{% url 'sem_enroll_edit' object.pk %}">Edit</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
