{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,
                    initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'external/bootstrap/css/bootstrap.min.css' %}">

        <title>University Portal</title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'external/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'external/popper.min.js' %}"></script>
        <script src="{% static 'external/bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>
