{% extends "base.html"  %}

{% block title %}Courses List{% endblock %}

{% block content %}
{% for course in object_list %}
<div class="card">
    <div class="card-header"><span class="font-weight-bold">{{ course.title }}</span>
        <span class="text-muted">{{ course.code }}</span>
    </div>
    <div class="card-body">
        {{ course.summary }}
    </div>
    <div class="card-footer text-center text-muted">
        <a href="{% url 'courses_admin_edit' course.pk  %}">Edit</a>
        <a href="{% url 'courses_admin_delete' course.pk  %}">Delete</a>
        <a href="{% url 'courses_admin_new' %}"> New </a>
    </div>
</div>
{% endfor %}
{% endblock content %}
