{% extends 'base.html' %}

{% block title %}Staff Admin View{% endblock title %}

{% block content %}
<div class="container" style="margin-top: 60px;">
  <h1>Staff List</h1>
  <p class="text-muted">Click on an email to change the verification status</p>
  <table class="table table-hover">
    <caption>List of Staff</caption>
    <thead class="text-white bg-clairvoyant">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Full Name</th>
        <th scope="col">Category</th>
        <th scope="col">Is Verified</th>
      </tr>
    </thead>
    <tbody>
      {% for staff in object_list %}

      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
          <a href="{% url 'staff_verify' staff.pk %}">{{ staff.user.email }}</a>
        </td>
        <td>{{ staff.user.get_full_name }}</td>
        <td>{{ staff.category }}</td>
        <td>{{ staff.is_verified }}</td>
      </tr>

      {% if forloop.last %}
    </tbody>
  </table>
</div>
{% endif %}
{% endfor %}
{% endblock content %}
